spring:
  application:
    name: simple-ecommerce-website

  datasource:
    url: jdbc:sqlite:/Users/mohd_28s/Desktop/Spring-boot-projects/ecommerce.db
    driver-class-name: org.sqlite.JDBC

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect

